# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
.env

# Logs
*.log

# IDEs
.vscode/
.idea/

# Large files or data
*.csv
*.gz
*.pt
*.pkl
data/
models/
Yard.md
