.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.card {
  background: #fefefe;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card h3 {
  margin-top: 0;
}

.card form input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.button-group button {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  cursor: pointer;
}

.checkbox-group {
  margin-bottom: 10px;
}

.checkbox-scroll {
  max-height: 150px;
  overflow-y: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f5f5f5;
  margin-top: 6px;
}

.checkbox-scroll label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logout-button {
  padding: 0.5rem 1rem;
  background-color: #53520f;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #c62828;
}



.envoy-table {
  width: 100%;
  border-collapse: collapse;
}

.envoy-table th,
.envoy-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.result {
  margin-top: 1rem;
  background: #f3f3f3;
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
}

.ws-log {
  max-height: 200px;
  overflow-y: auto;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ccc;
  font-family: monospace;
  font-size: 14px;
}


.training-bar {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #4caf50;
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% { transform: scale(0.9); opacity: 0.7; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.9); opacity: 0.7; }
}

.notice-card {
  background-color: #fffbe6;
  border-left: 4px solid #ffc107;
  padding: 1rem;
  margin-bottom: 1rem;
}
.notice-card h3 {
  color: #b58900;
}
